[html]
directory = build/coverage/html

[run]
branch = True
omit =
     *__init__*
     arbitragelab/network/validation.py
     tests/*
     /opt/conda/*
     # Ensure we exclude any files in .local
     */.local/*
disable_warnings = no-data-collected

[report]
partial_branches = True
show_missing = True
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    @abc.abstractmethod
    @abc.abstractproperty
    def _dependencies(self):
