.idea/*
docs/build/
.local/
cover/
build/
dist/
.tox/
__pycache__
*.pyc
test_reports
.coverage
.coverage.*
coverage.xml
.DS_Store
*.pickle
*/.ipynb_checkpoints/*
arbitragelab.egg-info/*
.eggs
arbitragelab/copula_approach/main.py
arbitragelab/copula_approach/.spyproject/config/backups/codestyle.ini.bak
arbitragelab/copula_approach/.spyproject/config/backups/encoding.ini.bak
arbitragelab/copula_approach/.spyproject/config/backups/vcs.ini.bak
arbitragelab/copula_approach/.spyproject/config/backups/workspace.ini.bak
arbitragelab/copula_approach/.spyproject/config/codestyle.ini
arbitragelab/copula_approach/.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
arbitragelab/copula_approach/.spyproject/config/defaults/defaults-encoding-0.2.0.ini
arbitragelab/copula_approach/.spyproject/config/defaults/defaults-vcs-0.2.0.ini
arbitragelab/copula_approach/.spyproject/config/defaults/defaults-workspace-0.2.0.ini
arbitragelab/copula_approach/.spyproject/config/encoding.ini
arbitragelab/copula_approach/.spyproject/config/vcs.ini
arbitragelab/copula_approach/.spyproject/config/workspace.ini
tests/.pylint.d/arbitragelab.copula_approach.copula_calculation1.stats
tests/.pylint.d/arbitragelab.copula_approach.copula_generate1.stats
tests/.pylint.d/arbitragelab.copula_approach.copula_strategy1.stats
