[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.18.5"
matplotlib = "==3.2.1"
pandas = "==1.0.4"

[dev-packages]
codecov = "==2.0.15"
coverage = "==4.5.2"
pylint = "==2.5.3"
sphinx-rtd-theme = "==0.4.3"
Sphinx = "==2.2.1"

[requires]
python_version = "3.8"
