# Production
numpy==1.18.5
pandas==1.0.4
scipy==1.5.4
statsmodels==0.12.1
scikit-learn==0.23.1
matplotlib==3.2.1
cython==0.29.21
POT==0.7.0
keras==2.3.1
tensorflow==2.2.1

#Develop
codecov==2.0.15
coverage==4.5.2
pylint==2.5.3
sphinx==2.2.1 # Docs
sphinx-rtd-theme==0.4.3 # Docs
releases==1.6.3 # Docs
