# Production
POT==0.9.0
analytics-python>=1.2.7, <2.0.0
arch==5.5.0
cvxpy==1.3.1
cython==0.29.28
dash==2.10.2
getmac>=0.8.0, <1.0.0
jupyter-dash>=0.2.0, <1.0.0
keras==2.12.0
lxml>=4.9.1
matplotlib==3.7.1
mpmath==1.2.1
networkx>=2.2, <2.6
numpy==1.23.5
pandas==1.5.3
pmdarima==2.0.3
protobuf>=3.20.3
pyvinecopulib==0.5.5
requests_html==0.10.0
scikit-learn==1.1.3
scipy>=1.2.0, <2.0.0
scs==3.2.0
seaborn==0.12.2
statsmodels>=0.9.0, <1.0.0
tensorflow-macos==2.12.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow==2.12.0; sys_platform != 'darwin' or platform_machine != 'arm64'
werkzeug==2.2.3
yahoo-fin==0.8.6
yfinance==0.2.18

# Develop
coverage==5.4
docutils==0.16 # Docs
hudsonthames-sphinx-theme==0.1.5 # Docs
jinja2<3.1 # Docs
pyarmor==8.2.5 # Encryption
pylint==2.6.0
releases==1.6.3 # Docs
sphinx-rtd-theme==0.5.2 # Docs
sphinx==3.4.3 # Docs
